
src/src_py/__pycache__/dnami_io.cpython-36.pyc
src/src_py/__pycache__/dnami_mpi.cpython-36.pyc
src/src_py/__pycache__/dnami.cpython-36.pyc
src/src_py/__pycache__/dnami_io.cpython-36.pyc
src/src_py/__pycache__/dnami_mpi.cpython-36.pyc
src/src_py/__pycache__/dnami.cpython-36.pyc
src/build/librhs.a
src/build/src.linux-x86_64-3.6/dnamiFmodule.c
src/build/src_for/rhs.f90
src/build/src_for/rhs.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_0_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_0_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_0_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_0_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_1_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_1_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_1_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_j1_1_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_0_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_0_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_0_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_0_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_1_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_1_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_1_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_i1_jmax_1_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_0_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_0_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_0_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_0_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_1_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_1_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_1_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_j1_1_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_0_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_0_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_0_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_0_1.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_1_0.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_1_0.o
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_1_1.f90
src/build/src_for/includes/gen/bcsrc_storedstatic_edges_imax_jmax_1_1.o
src/build/src_for/includes/gen/bcsrcstoredstatic_i1.f90
src/build/src_for/includes/gen/bcsrcstoredstatic_i1.o
src/build/src_for/includes/gen/bcsrcstoredstatic_imax.f90
src/build/src_for/includes/gen/bcsrcstoredstatic_imax.o
src/build/src_for/includes/gen/bcsrcstoredstatic_j1.f90
src/build/src_for/includes/gen/bcsrcstoredstatic_j1.o
src/build/src_for/includes/gen/bcsrcstoredstatic_jmax.f90
src/build/src_for/includes/gen/bcsrcstoredstatic_jmax.o
